force-app/main/default/flows/Dynamic_Options.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Stages_to_Collaction</name>
        <label>Add Stages to Collaction</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SecondOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThirdOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SecondOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThirdOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forthOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fifthOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sixOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>OneOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אופציה ראשונה</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אופציה שניה</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אופציה שלישית</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forthOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forthOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אופציה רביעית</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fifthOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fifthOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אופציה חמישית</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sixOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sixOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>אופציה שישית</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:account_info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:agent_session</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forthOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:announcement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fifthOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:answer_public</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sixOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneOption.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>first title</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description</name>
        <label>Assign Description</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>secondDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_on_selected_options.label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_on_selected_options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Stage</name>
        <label>Assign First Stage</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SecondOption.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyStages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SecondOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThirdOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>second_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stages</name>
        <label>Assign Stages</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OneOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>שלב ראשון</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>שלב שני</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>שלב שלישי</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forthOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forthOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>שלב רביעי</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fifthOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fifthOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>שלב חמישי</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sixOption.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sixOption.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>שלב שישי</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:account_info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThirdOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:agent_session</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forthOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:announcement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fifthOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:answer_public</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sixOption.icon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneOption.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>first title</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stages_to_Collaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_First_Stage</name>
        <label>Copy 1 of Assign First Stage</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OneOption.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radio_button_list</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyStages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SecondOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThirdOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_First_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice1</name>
        <choiceText>בחירה ראשונה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice1</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice2</name>
        <choiceText>בחירה שניה</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice2</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice3</name>
        <choiceText>בחירה שלישית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice3</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice4</name>
        <choiceText>בחירה רביעית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice4</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice5</name>
        <choiceText>בחירה חמישית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice5</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice6</name>
        <choiceText>בחירה שישית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice6</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice7</name>
        <choiceText>בחירה שביעית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice7</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice8</name>
        <choiceText>בחירה שמינית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice8</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice9</name>
        <choiceText>בחירה תשיעית</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice9</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Dynamic Options {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamic Options</label>
    <loops>
        <name>iterate_on_selected_options</name>
        <label>iterate on selected options</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <collectionReference>Copy_1_of_checkboxList.selectedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_First_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_First_Screen</name>
        <label>Copy 1 of First Screen</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>iterate_on_selected_options</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FirstScreenHeader</name>
            <extensionName>c:customPageHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>רכיב מקוסטם</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subTitle</name>
                <value>
                    <stringValue>בחירה מרובה</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:choice</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_First_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_First_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_checkboxList</name>
                    <extensionName>c:dynamicOptionSelect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>checkbox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>name</name>
                        <value>
                            <stringValue>checkbox</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>options</name>
                        <value>
                            <elementReference>Options</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessageWhenRequired</name>
                        <value>
                            <stringValue>שדה זה חובה</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_checkbox_fields</name>
                    <fieldText>&lt;p&gt;selected values: {!Copy_1_of_checkboxList.selectedValues}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_radio</name>
                    <extensionName>c:dynamicOptionSelect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>radio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>name</name>
                        <value>
                            <stringValue>radio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>options</name>
                        <value>
                            <elementReference>Options</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_radio_fields</name>
                    <fieldText>&lt;p&gt;selected values: {!Copy_1_of_radio.selectedValues}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_dropdown</name>
                    <extensionName>c:dynamicOptionSelect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>dropdown</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>select option</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>name</name>
                        <value>
                            <stringValue>dropdown</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>options</name>
                        <value>
                            <elementReference>Options</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_dropdown_fields</name>
                    <fieldText>&lt;p&gt;selected values: {!Copy_1_of_dropdown.selectedValues}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_button</name>
                    <extensionName>c:dynamicOptionSelect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>button</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>name</name>
                        <value>
                            <stringValue>button</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>options</name>
                        <value>
                            <elementReference>Options</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_button_fields</name>
                    <fieldText>&lt;p&gt;selected values: {!Copy_1_of_button.selectedValues}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_First_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_progress_indicator</name>
                    <extensionName>c:customProgressIndicator</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>steps</name>
                        <value>
                            <elementReference>Stages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>SecondOption.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_First_Stage</targetReference>
        </connector>
        <fields>
            <name>FirstScreenHeader</name>
            <extensionName>c:customPageHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>רכיב סטנדרטי</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subTitle</name>
                <value>
                    <stringValue>בחירה מרובה</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:choice</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>First_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>First_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>radio_button_list</name>
                    <choiceReferences>choice1</choiceReferences>
                    <choiceReferences>choice2</choiceReferences>
                    <choiceReferences>choice3</choiceReferences>
                    <choiceReferences>choice4</choiceReferences>
                    <choiceReferences>choice5</choiceReferences>
                    <choiceReferences>choice6</choiceReferences>
                    <choiceReferences>choice7</choiceReferences>
                    <choiceReferences>choice8</choiceReferences>
                    <choiceReferences>choice9</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>בחירה סטנדרטית</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>First_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>progress_indicator</name>
                    <extensionName>c:customProgressIndicator</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>steps</name>
                        <value>
                            <elementReference>Stages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>OneOption.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!radio_button_list}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>second_screen</name>
        <label>second_screen</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>visualPickerheader</name>
            <extensionName>c:customPageHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subTitle</name>
                <value>
                    <stringValue>בחירה מרובה</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>בחירה ויזואלית</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:choice</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>second_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>second_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>visual_picker</name>
                    <extensionName>c:customVisualPickerList</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pickerListData</name>
                        <value>
                            <elementReference>Options</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickerSize</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>second_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>visualPickerIndicators</name>
                    <extensionName>c:customProgressIndicator</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <elementReference>ThirdOption.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>steps</name>
                        <value>
                            <elementReference>Stages</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>visual_picker_large</name>
            <extensionName>c:customVisualPickerList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pickerListData</name>
                <value>
                    <elementReference>Options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pickerSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>visual_picker_medium</name>
            <extensionName>c:customVisualPickerList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pickerListData</name>
                <value>
                    <elementReference>Options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pickerType</name>
                <value>
                    <stringValue>checkbox</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>visual_picker_x_large</name>
            <extensionName>c:customVisualPickerList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pickerSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pickerListData</name>
                <value>
                    <elementReference>Options</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emptyStages</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fifthOption</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>forthOption</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OneOption</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Options</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondOption</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sixOption</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDynamic</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdOption</name>
        <apexClass>DynamicOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
